# Chap6-1 DataFrame loc,iloc
### DataFrame比numpy ndarry(element-wise)提供資料統整的功能
### DataFrame通常為2維資料
### 橫的為列(索引index),直的為欄(column)

In [2]:
# 隨機產生DataFrame資料
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.random.rand(4,4),index=list('abcd'),columns=list('ABCD'))
frame

          A         B         C         D
a  0.673641  0.899349  0.716698  0.619154
b  0.632260  0.328187  0.345980  0.885478
c  0.194096  0.182252  0.828441  0.243379
d  0.866844  0.945768  0.556809  0.278837

In [3]:
frame.describe()

              A         B         C         D
count  4.000000  4.000000  4.000000  4.000000
mean   0.591710  0.588889  0.611982  0.506712
std    0.284108  0.390328  0.209461  0.304071
min    0.194096  0.182252  0.345980  0.243379
25%    0.522719  0.291703  0.504102  0.269973
50%    0.652950  0.613768  0.636754  0.448996
75%    0.721942  0.910954  0.744634  0.685735
max    0.866844  0.945768  0.828441  0.885478

### loc用欄位來找出DataFrame的資料
### iloc用索引來定位DataFrame的資料

In [8]:
frame.loc['a','A']

0.6736408275141742

In [10]:
# 取前兩列的對應資料
frame.loc['a':'b',:]

          A         B         C         D
a  0.673641  0.899349  0.716698  0.619154
b  0.632260  0.328187  0.345980  0.885478

In [16]:
# 取前兩欄的對應資料
frame.loc[:,'A':'B']

          A         B
a  0.673641  0.899349
b  0.632260  0.328187
c  0.194096  0.182252
d  0.866844  0.945768

In [19]:
# 取特殊列、欄的資料
print(frame.loc[['a','c'],:])
print(frame.loc[:,['A','C']])
print(frame.loc[['a','d'],['A','D']])

          A         B         C         D
a  0.673641  0.899349  0.716698  0.619154
c  0.194096  0.182252  0.828441  0.243379
          A         C
a  0.673641  0.716698
b  0.632260  0.345980
c  0.194096  0.828441
d  0.866844  0.556809
          A         D
a  0.673641  0.619154
d  0.866844  0.278837

### iloc是利用列索引與欄索引進行資料定位，都是從0開始

In [20]:
frame.iloc[0,0]

0.6736408275141742

In [21]:
frame.iloc[0:2,:]

          A         B         C         D
a  0.673641  0.899349  0.716698  0.619154
b  0.632260  0.328187  0.345980  0.885478

In [23]:
# 取特殊列、欄的資料
print(frame.iloc[[0,2],:])
print(frame.iloc[:,[0,2]])
print(frame.iloc[[0,3],[0,3]])

          A         B         C         D
a  0.673641  0.899349  0.716698  0.619154
c  0.194096  0.182252  0.828441  0.243379
          A         C
a  0.673641  0.716698
b  0.632260  0.345980
c  0.194096  0.828441
d  0.866844  0.556809
          A         D
a  0.673641  0.619154
d  0.866844  0.278837